@import './variable';

// local variable
$tile-size:8em;

@mixin mobile {
    @media (max-width : #{$mobile}) {
        @content;
    }
}

#page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.bg-p1 {
    width: 100%;
    height: 100%;
    background: $violet-gradient;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .tile {
        width: $tile-size;
        height: $tile-size;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 1.6em;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        float: left;
    }
}

.main {
    position: relative;
    width: 80%;
    z-index: 2;
    color: $text-color1;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        flex-direction: column-reverse;
    }

    .info {
        .text {
            h3 {
                font-weight: lighter;

                @include mobile {
                    font-size: large;
                }
            }

            h1 {
                margin: 7px;
                margin-left: 0;

                @include mobile {
                    font-size: x-large;
                }
            }
        }

        .social-handles {
            margin-top: 18px;

            @include mobile {
                margin-top: 30px;
            }

            a {
                text-decoration: none;
            }

            svg {
                width: 40px;
                height: 40px;
                margin-right: 14px;

                &:hover {
                    fill: #262626;
                }

                @include mobile {
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }

    .pic {
        img {
            width: $pic-size;
            min-width: 200px;
            border-radius: 50%;
            border: 1px solid #fff;

            @include mobile {
                margin-bottom: 20px;
            }
        }
    }
}