// variables
$dark:#262626;
$text-color1: #efefef;
$mobile: 650px;
$bg-color-dark:#0a192f;
$bg-color:#efefef;
$bg2:#262626;
$nav-mobile: 790px;
$nav-color:rgba(239, 239, 239, 0.2);
$nav-text-color:#000;
$nav-text-color-dark:#fff;
$pic-size:20vw;