// variables
$dark:#262626;
$text-color1: #efefef;
$mobile: 650px;
$bg-color:#2c3e50;
$bg2:#262626;
$nav-color:rgba(239, 239, 239, 0.2);
$violet-gradient : linear-gradient(133.83deg, #6E529D 10.75%, #D97B93 74.49%);
$green-gradient:linear-gradient(to right, #11998e, #38ef7d);
$pic-size:20vw;