 @import './nav';

 //  font-family: 'Lobster Two', cursive;
 //  font-family: 'Montserrat', sans-serif;
 //  font-family: 'Roboto', sans-serif;
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: $bg-color;
     width: 100vw;
     font-family: 'Montserrat', sans-serif;
 }

 .blur {
     filter: blur(3px);
 }